/*** global variables ***/
$main_color: #204c82;
$second_color: #F15D61;
$dark_color: #252525;
$transition: all ease-out 0.5s;
$padding_section: 70px 0;

/** global styles **/
a,
button {
    text-decoration: none;

    &.btn {
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

button {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

/** scroll bar settings **/
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: $main_color;
}

::-webkit-scrollbar-thumb {
    background-color: $main_color;
    border-top: 0;
    border-bottom: 0;
}

/** scroll bar settings **/

/** mixins **/
@mixin MyPrefixBorderRadius20 {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

@mixin MyPrefixBorderRadius30 {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

@mixin MyPrefixBorderRadius15 {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@mixin MyPrefixBorderRadius10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@mixin MyPrefixBorderRadius5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@mixin MyPrefixBorderRadius3 {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

@mixin MyPrefixBorderRadiuslang {
    border-radius: 15px 0 15px 15px;
    -webkit-border-radius: 15px 0 15px 15px;
    -moz-border-radius: 15px 0 15px 15px;
    -ms-border-radius: 15px 0 15px 15px;
    -o-border-radius: 15px 0 15px 15px;
}

@mixin MyPrefixBorderRadiusSide {
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

@mixin MyPrefixBorderRadiusBNone {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

@mixin MyPrefixBorderRadius50 {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@mixin MyPrefixMinWidth {
    min-width: -moz-fit-content;
    min-width: -o-fit-content;
    min-width: -webkit-fit-content;
    min-width: fit-content;
}

@mixin MyPrefixWidth {
    width: -moz-fit-content;
    width: -o-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

@mixin MyPrefixTransition {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
}

@mixin MyPrefixTransformScale {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

@mixin MyPrefixTransformScale2 {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

@mixin MyPrefixTransformY {
    transform: translateY(-120px);
    -webkit-transform: translateY(-120px);
    -moz-transform: translateY(-120px);
    -ms-transform: translateY(-120px);
    -o-transform: translateY(-120px);
}

@mixin MyPrefixTransformY2 {
    transform: translateY(-280px);
    -webkit-transform: translateY(-280px);
    -moz-transform: translateY(-280px);
    -ms-transform: translateY(-280px);
    -o-transform: translateY(-280px);
}

@mixin MyBlur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

@mixin transition($trans) {
    transition: $trans;
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -ms-transition: $trans;
    -o-transition: $trans;
}

@mixin transform($transform) {
    transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
}

/** hover after background color **/
.btn {
    overflow: hidden;
}

.hvr-sweep-to-top:before {
    background: $main_color;
}

.alert.alert-warning {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: $main_color;
    border: none;
    @include MyPrefixBorderRadius30;

    p {
        margin-bottom: 0;
    }

    .close {
        position: absolute;
        right: 10px;
        top: auto;
        background-color: #fff;
        border: none;
        @include MyPrefixBorderRadius50;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        color: $dark_color;
        padding: 0;

        span {
            font-size: 25px;
        }
    }
}


.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 400px;
    }
}

::selection {
    background-color: $main_color;
    color: #fff;
    @include MyPrefixBorderRadius20
}