//footer part
footer
    .container 
        //- .footer-content
            .row 
                div(class="col-md-12 col-lg-5")
                    .footer-box
                        h3 about us
                        .footer-logo
                            //- a(href="index.html" class="mb-3 d-block")
                                img(src="images/logo.png", class="img-fluid", alt="")
                            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus eligendi odio, velit error in perferendis numquam ex quisquam eveniet? Optio odio ipsum, delectus soluta nobis voluptatibus placeat velit aliquid ab.
                        .social-media 
                            ul 
                                li 
                                    a(href="", target="_blank")
                                        i(class='fab fa-facebook-f') 
                                li 
                                    a(href="", target="_blank")
                                        i(class='fab fa-twitter') 
                                li 
                                    a(href="", target="_blank")
                                        i(class='fab fa-linkedin-in') 
                                li 
                                    a(href="", target="_blank")
                                        i(class='fab fa-instagram') 
                div(class="col-md-12 col-lg-3")
                    .footer-box
                        h3 Site map
                        .main 
                            ul 
                                li
                                    a(href="index.html") home
                                li
                                    a(href="about.html") about Us
                                li
                                    a(href="products.html") products
                                li
                                    a(href="contact.html") contact
                div(class="col-md-12 col-lg-4")
                    .footer-box
                        h3 contact us
                        .contact 
                            ul 
                                li  
                                    i(class='fas fa-envelope') 
                                    a(href="mailto:") mail@yahoo.com      
                                li  
                                    i(class='fas fa-phone-alt')
                                    a(href="tel:") +201988209222       
                                li
                                    i(class='fas fa-map-marker-alt')
                                    span Egypt, cairo, Jiza city
        .copyright 
            .copy-text
                p All rights reserved by 
                    a(href="#") Perfect.
    
//footer part
