extends index

block title_block
    title system vent | about

block index_block
    // broadcrumb part
    section(class="broadcrumb" style="background-image: url(../images/slider/slider-1.jpg);")
        div(class="container")
            div(class="broad-title")
                h2 About Us
    // broadcrumb part

    // about page part
    section(class="about-page")
        div(class="container")
            div(class="about-page-content")
                div(class="about-page-image")
                    img(src="../images/about/man.png", class="img-fluid", alt="")
                div(class="about-page-text")
                    div(class="title")
                        h2 About Us
                    p System ventilation egypt is a manufacturing enterprise integrating R&D, production, sales, testing and after-sales service. Specialized in importing and producing various centrifugal fans, axial fans, box fans, ceiling fans, air conditioning fans, engineering fans, industrial fans, etc.; The registered capital of the company is one million dollars and the factory area is 3000 square meters. It is located in the city of Cairo and the company's main headquarters is in Damietta Governorate. Transportation is very convenient. The predecessor of the company was alhamwivent was in the Syrian Arab Republic and was transferred to the Arab Republic of Egypt, and it has more than thirty years of inherited experience and technology in the manufacture of fans.The company is well-equipped and advanced in production technology, and has formed a complete management system from product design, manufacturing, system integration to inspection and testing. At present and so on. Relying on the company's mold technology center and engineering technology center, we have designed multi-blade centrifugal front fans, single plate centrifugal fans, screwless fans, ceiling fans, axial fans, box fans, jet fans and firefighting fans. Metal fans and low noise fans series with more than 1000 specifications.
    // about page part