extends index

block title_block
    title system vent | products

block index_block
    // broadcrumb part
    section(class="broadcrumb" style="background-image: url(images/slider/slider-1.jpg);")
        div(class="container")
            div(class="broad-title")
                h2 products
    // broadcrumb part

    // products page part
    section(class="products products-page")
        div(class="container")
            div(class="products-content")
                div(class="row")
                    div(class="col-md-4 col-lg-4")
                        div(class="product-box wow fadeInUp" data-wow-duration="1s")
                            div(class="image")
                                img(src="images/products/02.png", class="img-fluid", alt="")
                            div(class="details")
                                h3 Lorem ipsum dolor sit
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatum quos, pariatur minus unde eum quidem velit mollitia vel laboriosam eius rem laborum soluta aut rerum ad odio facere? Modi.
                                .details-btn
                                    a(href="single-product.html"  class="hvr-sweep-to-top btn btn-success") more details
                            //- div(class="details")
                            //-     h3 Shipping solution
                            //-     p The passage is attributed to an unknown typesetter in the 15th century
                    div(class="col-md-4 col-lg-4")
                        div(class="product-box wow fadeInUp" data-wow-duration="1s")
                            div(class="image")
                                img(src="images/products/01.png", class="img-fluid", alt="")
                            div(class="details")
                                h3 Lorem ipsum dolor sit
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatum quos, pariatur minus unde eum quidem velit mollitia vel laboriosam eius rem laborum soluta aut rerum ad odio facere? Modi.
                                .details-btn
                                    a(href="single-product.html"  class="hvr-sweep-to-top btn btn-success") more details
                    div(class="col-md-4 col-lg-4")
                        div(class="product-box wow fadeInUp" data-wow-duration="1s")
                            div(class="image")
                                img(src="images/products/02.png", class="img-fluid", alt="")
                            div(class="details")
                                h3 Lorem ipsum dolor sit
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatum quos, pariatur minus unde eum quidem velit mollitia vel laboriosam eius rem laborum soluta aut rerum ad odio facere? Modi.
                                .details-btn
                                    a(href="single-product.html"  class="hvr-sweep-to-top btn btn-success") more details
                    div(class="col-md-4 col-lg-4")
                        div(class="product-box wow fadeInUp" data-wow-duration="1s")
                            div(class="image")
                                img(src="images/products/03.png", class="img-fluid", alt="")
                            div(class="details")
                                h3 Lorem ipsum dolor sit
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatum quos, pariatur minus unde eum quidem velit mollitia vel laboriosam eius rem laborum soluta aut rerum ad odio facere? Modi.
                                .details-btn
                                    a(href="single-product.html"  class="hvr-sweep-to-top btn btn-success") more details
                    div(class="col-md-4 col-lg-4")
                        div(class="product-box wow fadeInUp" data-wow-duration="1s")
                            div(class="image")
                                img(src="images/products/01.png", class="img-fluid", alt="")
                            div(class="details")
                                h3 Lorem ipsum dolor sit
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatum quos, pariatur minus unde eum quidem velit mollitia vel laboriosam eius rem laborum soluta aut rerum ad odio facere? Modi.
                                .details-btn
                                    a(href="single-product.html"  class="hvr-sweep-to-top btn btn-success") more details
                    div(class="col-md-4 col-lg-4")
                        div(class="product-box wow fadeInUp" data-wow-duration="1s")
                            div(class="image")
                                img(src="images/products/02.png", class="img-fluid", alt="")
                            div(class="details")
                                h3 Lorem ipsum dolor sit
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatum quos, pariatur minus unde eum quidem velit mollitia vel laboriosam eius rem laborum soluta aut rerum ad odio facere? Modi.
                                .details-btn
                                    a(href="single-product.html"  class="hvr-sweep-to-top btn btn-success") more details
            div(class="pagination-part")
                ul(class="pagination justify-content-center")
                    li(class="page-item")
                        a(class="page-link disabled", href="#.")
                            i(class="fa fa-angle-left")
                    li(class="page-item active")
                        a(class="page-link", href="#.") 1
                    li(class="page-item")
                        a(class="page-link", href="#.") 2
                    li(class="page-item")
                        a(class="page-link", href="#.") 3
                    li(class="page-item")
                        a(class="page-link", href="#.")
                            i(class="fa fa-angle-right")
    // products page part