extends index

block title_block
    title system vent | videos

block index_block
    // broadcrumb part
    section(class="broadcrumb" style="background-image: url(images/slider/slider-1.jpg);")
        div(class="container")
            div(class="broad-title")
                h2 videos
    // broadcrumb part

    // videos page
    section(class="videos-page")
        div(class="container")
            div(class="videos-content")
                div(class="row")
                    div(class="col-md-4 col-lg-4")
                        div(class="video-box wow fadeInUp" data-wow-duration="1s")
                            div(class="ratio ratio-16x9")
                                iframe(src="https://www.youtube.com/embed/LXb3EKWsInQ", title="YouTube video", allowfullscreen)
                    div(class="col-md-4 col-lg-4")
                        div(class="video-box wow fadeInUp" data-wow-duration="1s")
                            div(class="ratio ratio-16x9")
                                iframe(src="https://www.youtube.com/embed/LXb3EKWsInQ", title="YouTube video", allowfullscreen)
                    div(class="col-md-4 col-lg-4")
                        div(class="video-box wow fadeInUp" data-wow-duration="1s")
                            div(class="ratio ratio-16x9")
                                iframe(src="https://www.youtube.com/embed/LXb3EKWsInQ", title="YouTube video", allowfullscreen)
                    div(class="col-md-4 col-lg-4")
                        div(class="video-box wow fadeInUp" data-wow-duration="1s")
                            div(class="ratio ratio-16x9")
                                iframe(src="https://www.youtube.com/embed/LXb3EKWsInQ", title="YouTube video", allowfullscreen)
    // videos page