//- section.loading 
    img(src="../images/loading.gif", class="img-fluid", alt="")
//scripts
script(src="../js/jquery.min.js")
script(src="../js/bootstrap.bundle.min.js")
script(src="../js/fancybox.umd.js")
script(src="../js/fontawesome.min.js")
script(src="../js/wow.min.js")
script(src="../js/swiper-bundle.min.js")
script(src="../js/script.js")